.list {
  list-style-type: none;
}

.list--social {
  display: flex;
  padding-left: 0;
  margin-top: 25px;
}

.link-social {
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #ffffff;
  
}

.li-social:hover {
  border-color: #00e0d0;
  
}



.link-social::before {
  
}






.list-style-contacts {
  position: relative;
}

.list-icon {
  position: absolute;
  left: 1px;
}